*{
    --gradient: linear-gradient(#79e5f8, #00badb);
    --bg:#2b3137;
    --bg-gradient-color:#4654626f;
    --bg-gradient:linear-gradient(#323940, #2b3137);
    --bg-gradient2:linear-gradient(0deg, #24292eee 7%, #2b3137d2 17%, #2b313794 100%);
    --bg-gradient3:linear-gradient(0deg, #323940 0%, #2b3137d2 50%, #323940 100%);
   --bg-gradient2-90deg: linear-gradient(90deg, #24292e 50%, #2b3137d2 80%, #2b313794 100%);
    --solid:#24292e;
    --secondary: white;
    --secondary-light:#d8d8f3;
    --secondary-transparent:#ffffff8a;
    --primary-transparent:#d2d2d221; /*Border colors*/
    --primary-transparent-hover:rgba(210, 210, 210, 0.317);
    --primary: #00badb ;
    --shadow:#0000003d;
    --fw-thin: thin;
    --fw-regular: regular;
    --fw-bold: bold;
}
body{background-color: var(--bg);margin: 0;padding: 0;width: 100%;font-family: var(--fw-regular);display: flex;flex-direction: column;justify-content: center;align-items: center;}
.main{width: 96vw;display: flex;flex-direction: column;justify-content: center;align-items: center;}
/* Navigation */
.nav{padding: 23px 3vw;width: 95vw;box-shadow: 0 0px 13px 0 var(--shadow);background:var(--bg-gradient);padding-top: 15px;;transition: 0.4s ease-in-out;left: 0;position: fixed;top: 0;display: flex;flex-direction: row;justify-content: space-between;align-items: center;z-index: 99;}
.nav .right{display: flex;flex-direction: row;justify-content: end;align-items: center;gap: 2.5vw;}
.button{gap: 10px;padding: 22px 65px;font-size: 23px;transition: 0.3s ease-in-out;border-radius: 3000px;color: var(--solid);background: var(--gradient);text-decoration: none;box-shadow: 0 0 12px 0 var(--shadow);display: flex;flex-direction: row;justify-content: center;align-items: center;font-family: var(--fw-bold);font-weight: 900;}
.button:hover{padding: 22px 40px;}
.button.small:hover{padding: 15px 35px;}
.button.small{padding: 15px 43px;font-size: 17px;font-family: var(--fw-bold);}
.nav .right .links{gap: 2vw;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.nav .right .links a{font-size: 17px;padding: 10px 0;transition: 0.2s ease-in-out;text-decoration: none;color: var(--secondary);font-family: var(--fw-bold);}
.nav .right .links a:hover{transform: translateY(-4px);color: var(--primary);}
/**/
.hero{height: calc(98vh - 100px);;width: 100%;margin-top: 100px;position: relative;border-radius: 18px;display: flex;flex-direction: column;justify-content: end;align-items: start;overflow: hidden;}
.hero .video-wrapper{position: absolute;z-index: -1;left: -2%;height: 100%;width: 102%; overflow: hidden;}
.hero .video-wrapper::after{left: 0;top: 0;content: '';z-index: 0;width: 100%;height: 100%;opacity: 1;background: var(--bg-gradient2);position: absolute;}
.hero .video-wrapper video{min-width: 101%;min-height: 100%;}
.hero .contents{row-gap: 0px;padding: 80px 3vw;display: flex;flex-direction: column;justify-content: start;align-items: start;text-align: start;}
.hero .contents h1{font-size: 4.5vw;margin: 0;color: var(--secondary);font-family: var(--fw-bold);}
span{ background: var(--gradient);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-family: var(--fw-bold);}
.hero .contents h2{line-height: 32px;font-size: 22px;width: 50%;margin-bottom: 70px;color: var(--secondary-light);font-family: var(--fw-thin);}
.hero .contents .buttons{gap: 20px;display: flex;flex-direction: row;justify-content: center;align-items: center;}
.hero .contents .buttons .button.white{color: var(--secondary);padding: 18px 30px;background: var(--primary-transparent);box-shadow: none;}
.button svg{width: 27px;height: 27px;fill: var(--primary);}
.hero .contents .buttons .button.white:hover{background: var(--primary-transparent-hover);}
.partners{height: 7.5vw;opacity: 0.8;margin: 20px 0;display: flex;flex-direction: row;justify-content: center;align-items: center;width: 100%; overflow: hidden;background-image: var(--bg-gradient3); border: 0.1rem solid var(--primary-transparent);border-radius: 20px;}
.partners img{height: 1.8vw;margin: 0 5vw;opacity: 0.8;}

.section1{row-gap: 25px;width: 90%;margin: 180px;display: flex;flex-direction: column;justify-content: center;align-items: start;}
.section1 h1{margin-top: 60px;margin-bottom: 50px;font-size: 60px;color: var(--secondary);}
.section1 h5{margin: 10px 0;margin-bottom: 30px;font-size: 18px;color: var(--secondary);font-family: var(--fw-thin);line-height: 30px;width: 70%;}

.cardings{width: 90%;background:var(--bg-gradient);padding: 100px 5%;border: solid 1px var(--primary-transparent);padding-bottom: 130px;border-radius: 25px;}
.section1 .banner{ border: 0.1rem solid var(--primary-transparent);width: 92%;padding: 0 4%;text-decoration: none;margin-top: 70px;height: 250px;border-radius: 20px;position: relative;overflow: hidden;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.section1 .banner p{width: 75%;z-index: 2;font-size: 35px;line-height: 45px;font-weight: 900;font-family: bold;color: var(--secondary);}
.section1 .banner .button{z-index: 2;}
.section1 .banner img{width:100%;position: absolute;margin-top: -500px;z-index: 0;left: 0;top: 0;}
.section1 .banner::after{opacity: 0.80;left: 0;top: 0;width: 100%;height: 100%;z-index: 0;content: '';position: absolute;background-image: var(--bg-gradient2-90deg);}
.section1 .group{width: 100%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.section1 .group .box{text-decoration: none;height: 500px;width: 49%;background-image: var(--bg-gradient3); border: 0.1rem solid var(--primary-transparent);border-radius: 20px;display: flex;flex-direction: row;justify-content: start;align-items: center;transition: 0.2s ease-in-out;position: relative;overflow: hidden;}
.section1 .group .box::after{transition: 0.2s ease-in-out;content: '';position: absolute;z-index: -1;width: 100%;height: 100%;left: 0;top: 0;background: var(--primary);opacity: 0;}
.section1 .group .box:hover::after{opacity: 0.8;}
.section1 .group .box .context{margin: 0 60px;display: flex;flex-direction: column;justify-content: center;align-items: start;row-gap: 10px;}
.section1 .group .box h2{color: var(--secondary);font-size: 40px;margin: 0;width: 50%;line-height: 50px;}
.section1 .group .box p{margin-bottom: 20px;font-family: var(--fw-thin);width: 70%;color: var(--secondary-light);font-size: 18px;line-height: 26px;opacity: 0.8;}
.section1 .group .box h5{margin: 0px 0;color: var(--secondary);font-size: 17px;font-family: var(--fw-thin);}
.section1 .group .box h5 small{transition: 0.2s ease-in-out;color: var(--primary);font-family:'Franklin Gothic Medium';padding: 8px 13px;background: transparent;border-radius: 100%;font-size: 18px;margin:0 0px;}
.section1 .group .box img{position: absolute;opacity: 0.5;right: 0;bottom: -10px;height: 70%;transition: 0.2s ease-in-out;}
.section1 .group .box:hover img{height: 72%;}
.section1 .group .box:hover small{color: var(--bg);background: var(--gradient);margin:0 10px;}

.section1 .group2{row-gap: 80px;margin-top: 130px;background-image: var(--bg-gradient3); border: 0.1rem solid var(--primary-transparent);border-radius: 20px;align-items: center;position: relative;overflow: hidden;width: 90%;padding: 70px 5%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.section1 .group2 .content{width: 100%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}

.section1 .group2 .board{ border: 0.1rem solid var(--primary-transparent);width: 92%;padding: 12px 4%;border-radius: 20px;background: var(--bg-gradient);box-shadow: 0 2px 0.5rem var(--shadow);display: flex;flex-direction: row;justify-content: center;align-items: center;}
.section1 .group2 .board .inner{width: 100%;position: relative;display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 10px;}
.phone{display: none;}
.section1 .group2 .board .box{min-width: 20%;display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 1vw;}
.section1 .group2 .board .box img{width: 2.8vw;fill: var(--primary);}
.section1 .group2 .board .box h6{font-size: 18px;row-gap: 10px;color: var(--secondary-transparent);font-family: var(--fw-thin);display: flex;flex-direction: column;justify-content: start;align-items: start;text-align: start;}
.section1 .group2 .board .box h6 span{font-family: var(--fw-thin);font-size: 18px;color: var(--secondary);-webkit-text-fill-color: var(--secondary);}

.section2::after{left: -15%;top: 0;width: 100%;height: 100%;background: var(--bg-gradient2-90deg);z-index: -3;position: absolute;content: '';}
.section2{width: 80%;position: relative;row-gap: 25px;padding: 100px 0;display: flex;flex-direction: column;justify-content: center;align-items: start;}
.section2 h1{margin: 0;font-size: 65px;color: var(--secondary);}
.section2 h1 small{font-family: var(--fw-thin);color: var(--secondary-transparent);font-size: 40px;line-height: 100px;}
.section2 .group{margin-bottom: 100px;margin-top: 170px;width: 100%;position: relative;height: 2900px;display: flex;flex-direction: row;justify-content: space-between;align-items: start;}
.section2 .group .left{width: 50%;height: 100%;display: flex;flex-direction: column;justify-content: space-between;align-items: center;}
.section2 .group .left .box{box-shadow: inset 0 18px 1.5rem rgba(0, 0, 0, 0.462), inset 0 -15px 5rem rgba(0, 0, 0, 0.1), inset 0 4px 0.8rem #000000;;border: 0.1rem solid transparent;opacity: 0.2;background-color: rgba(0, 0, 0, 0.648);text-align:start;width: 80%;padding: 10% 10%;padding-bottom: 150px;border-radius: 20px;display: flex;flex-direction: column;justify-content: center;align-items: start;transition: 0.3s ease-in-out;position: relative;overflow: hidden;}
.section2 .group .left .box h1{font-size: 45px;margin-bottom: 20px;margin-top: 0;}
.section2 .group .left .box h2{font-size: 22px;width: 92%;line-height: 38px;color: var(--secondary-transparent);font-family: var(--fw-thin);}
.section2 .group .right{pointer-events: none;width: 50%;position: absolute;opacity: 0.7;height: 100%;right: -4%;}
.section2 .group .right .viewer{filter: grayscale(100%);opacity: 0.5;width: 120%;position: sticky;top: 30vh;right: 0;height: 800px; clip-path: polygon(0 0, 100% 0, 100% 84%, 68% 84%, 68% 100%, 0 100%);overflow: hidden;}
.section2 .banner2::after{background: var(--bg-gradient3);}
.banner2{ border: 0.1rem solid var(--primary-transparent);width: 85%;padding: 0 4%;align-self: center;text-decoration: none;margin: 70px 0;height: 140px;box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.165);border-radius: 20px;position: relative;overflow: hidden;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.banner2 p{width: 75%;z-index: 2;font-size: 35px;line-height: 45px;font-weight: 900;font-family: bold;color: var(--secondary);}
.banner2 .button{z-index: 2;}
.banner2 img{width:100%;position: absolute;margin-top: -500px;z-index: 0;left: 0;top: 0;}
.banner2::after{opacity: 0.80;left: 0;top: 0;width: 100%;height: 100%;z-index: -1;content: '';position: absolute;background-image: var(--bg-gradient2-90deg);}
.banner2 h1{font-size: 2.3vw;margin: 0;color: var(--secondary);}

.section-gallery{margin-bottom: 100px;margin-top: 250px;position: relative;text-align: center;display: flex;flex-direction: column;justify-content: start;align-items: center;}
.section-gallery h1{color: var(--secondary);margin-bottom: 60px;margin-top: 0;font-size: 55px;line-height: 70px;}
.section-gallery .gallery{height: 75vw;overflow: hidden;display: flex;flex-direction: row;justify-content: space-between;align-items: start;width: 100%;}
.section-gallery .gallery .col{width: 30%;display: flex;position: relative;gap: 2vw;flex-direction: column;justify-content: start;align-items: center;width: 30%;}
.section-gallery .gallery .col img{width: 100%;box-shadow: 0 0 10px #00000019;border-radius: 15px;}
.section-gallery .gallery .col.center{margin-top: 100px;width: 37%;}
.section-gallery::after{content: '';position: absolute;z-index: 2;left: 0;bottom: 0;width: 100%;height: 20%;box-shadow: inset 0vw -5vw 5vw 1vw var(--bg) ;}

.section-sales{width: 95%;margin: 150px 0;display: flex;flex-direction: column;justify-content: start;align-items: start;position: relative;}
.section-sales h1{text-align: start;color: var(--secondary);font-size: 55px;line-height: 65px;}
.section-sales .uses{margin-top: 30px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;width: 100%;}
.section-sales .uses .box{border-radius: 15px;width: 23.5%;height: 38vw;text-decoration: none;position: relative;display: flex;flex-direction: column;justify-content: end;align-items: start;overflow: hidden;}
.section-sales .uses .box:hover h3{padding-bottom: 32px;}
.section-sales .uses .box h2{font-size: 32px;color: var(--secondary);margin: 0px 6%;}
.section-sales .uses .box h3{line-height: 20px;font-size: 17px;width: 67%;;padding-bottom: 25px;margin: 15px 6%;color: var(--secondary-light);transition: 0.2s ease-in-out;font-family: var(--fw-thin);}

.section-sales .uses .box img{position: absolute;height: 100%;left: 0;top: 0;z-index: -1;}
.section-sales .uses .box::after{opacity: 0.8;content: '';position: absolute;z-index: -1;left: 0;bottom: 0;width: 100%;height: 100%;box-shadow: inset 0vw -8vw 5vw 1vw var(--bg) ;}
.section-sales .uses .box::before{transition: 0.2s ease-in-out;background-color: var(--primary);border-radius: 100%;content: '';position: absolute;z-index: 0;right: 8%;bottom: 79px;width: 2vw;height: 2vw;}
.section-sales .uses .box:hover::before{right: 5%;}




/* FOOTER */
.footer{border: 0.1rem solid var(--primary-transparent);margin: 2vw 0;margin-top: 150px;border-radius: 15px;height: fit-content;background: var(--bg-gradient-color);display: flex;flex-direction: column;justify-content: start;align-items: center;width: 100%;}
.footer .upper{padding: 90px 0;width: 80%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.footer .upper .left{display: flex;flex-direction: column;justify-content: start;align-items: start;row-gap: 45px;}
.footer .upper .left h1{width: 90%;color: var(--secondary);font-family: var(--fw-bold);font-size: 30px;margin: 0;}
.footer .upper .left img{filter: contrast(0%) brightness(600%);height: 50px;opacity: 60%;}
.footer .upper .left h2{font-size: 19px;color: var(--secondary);font-weight: 100;opacity: 60%;margin: 0;}
.footer .upper .right{gap: 4vw;display: flex;flex-direction: row;justify-content: center;align-items: start;}
.footer .upper .right .group{row-gap: 20px;display: flex;flex-direction: column;justify-content: start;align-items: start;}
.footer .upper .right .group h1{margin-bottom: 8px;color: var(--secondary);font-size: 22px;font-weight: 500;margin-top: 0;}
.footer .upper .right .group a{text-transform:lowercase;color: var(--secondary-transparent);font-size: 17px;font-weight: 100;text-decoration: none;font-weight: 100;}
.footer .group a:hover{opacity: 0.6;}
.footer .lower{padding-bottom: 100px;opacity: 80%;padding-top: 25px;border-top: solid 1px rgba(255, 255, 255, 0.31);width: 80%;display: flex;flex-direction: row;justify-content: space-between;align-items: start;}
.footer .lower p{font-size: 14px;font-weight: 100;color: var(--secondary-light);}
.footer .lower .social{display: flex;flex-direction: row;justify-content: start;align-items: start;gap: 20px;}
.footer .lower .social a img{height: 25px;}
.footer a{transition: 0.3s;}
/**/


@media screen and (max-width: 1000px){
    .main{width: 94vw;}
/* Navigation */
.nav{padding: 15px 3vw;width: 95vw;}
.button{gap: 5px;padding: 12px 35px;font-size: 16px;}
.button:hover{padding: 12px 40px;}
.button.small:hover{padding: 10px 35px;}
.button.small{padding: 10px 30px;font-size: 12px;}
.nav .right .links{display: none;}
.nav .logo{width: 130px;}
/**/

/* HERO */
.hero{height: 75vh;width: 100%;margin-top: 80px;border-radius: 11px;}
.hero .contents{row-gap: 0px;padding: 30px 3vw;}
.hero .contents h1{font-size: 40px;margin: 0;}
.hero .contents h2{line-height: 22px;font-size: 13px;width: 95%;margin-bottom: 40px;}
.hero .contents .buttons{gap: 15px;}
.hero .contents .buttons .button.white{padding: 10px 17px;font-size: 12px;}
.button svg{width: 18px;height: 18px;}
/* FIX PARTNERS*/
.partners{height: 70px;opacity: 0.8;margin: 8px 0;border-radius: 11px;}
.partners img{height: 7vw;margin: 0 5vw;opacity: 0.8;  white-space: nowrap;
    animation: marquee 35s linear infinite; position: relative;width: fit-content;}
  
@keyframes marquee {
    0% {
        transform: translateX(-26.8%);
    }
   100% {
    transform: translateX(37%);
}
}
/**/

/* SECTION 1 */
.section1{row-gap: 13px;width: 95%;margin: 50px;}
.section1 h1{font-size: 30px;margin-top: 10px;margin-bottom: 0;}
.section1 .banner{margin-top: 30px;height: 120px;border-radius: 11px}
.section1 .banner p{width: 75%;font-size: 13px;line-height: 18px;}
.section1 .banner img{margin-top: 0px;}
.section1 .banner::after{opacity: 0.80;left: 0;top: 0;width: 100%;height: 100%;z-index: 0;content: '';position: absolute;background-image: var(--bg-gradient2-90deg);}
.section1 .group{flex-direction: column;gap: 15px;}
.section1 .group .box{height: 250px;width: 100%;border-radius: 11px;}
.section1 .group .box .context{margin: 0 20px;row-gap: 2vw;}
.section1 .group .box h2{font-size: 20px;width: 100%;line-height: normal;margin: 0;}
.section1 .group .box p{margin-bottom: 11px;margin-top: 10px;width: 80%;font-size: 13px;line-height: 18px;}
.section1 .group .box h5{margin: 0px 0;font-size: 12px;}
.section1 .group .box h5 small{padding: 4px 7px;font-size: 12px;}
.section1 .group .box img{height: 80%;}
.section1 .group .box:hover img{height: 82%;}
.section1 .group .box:hover small{color: var(--bg);background: var(--gradient);margin:0 10px;}

.section1 .group2{row-gap: 30px;margin-top: 70px;border-radius: 11px;width: 90%;padding: 20px 5%;}
.section1 .group2 .content{width: 100%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}


@keyframes marquee2 {
    0% {
        transform: translateX(-860px);
    }
   100% {
    transform: translateX(225px);
}
}


.section1 .group2 .board{width: 92%;padding: 0px 4%;border-radius: 11px;overflow: hidden;gap: 20px;}
.section1 .group2 .board .inner{width: 100%;white-space: nowrap;  animation: marquee2 17s linear infinite;gap: 20px;}
.section1 .group2 .board .inner .phone{display: flex;}
.section1 .group2 .board .box{width: 100px;justify-content: center;padding: 0 50px;gap: 15px;}
.section1 .group2 .board .box img{width: 50px;}
.section1 .group2 .board .box h6{font-size: 12px;row-gap: 10px;}
.section1 .group2 .board .box h6 span{font-size: 14px;}
/**/






/* SECTION 2*/
.section2{width: 90%;row-gap: 25px;padding: 60px 0;}
.section2 h1{margin: 0;font-size: 32px;line-height: 45px;width: 90%;}
.section2 h1 small{font-size: 18px;line-height: 40px;}
.section2 .group{margin-bottom: 0px;margin-top: 40px;width: 100%;height: 1150px;justify-content: center;}
.section2 .group .left{width: 100%;height: 100%;gap: 20px;}
.section2 .group .left .box{width: 80%;padding: 50px 10%;padding-bottom: 50px;border-radius: 11px;}
.section2 .group .left .box h1{font-size: 25px;margin-bottom: 0px;margin-top: 0;line-height: 35px;}
.section2 .group .left .box h2{font-size: 13px;width: 90%;line-height: 18px;}
.section2 .group .right{display: none;}
.banner2{width: 90%;padding: 0 5%;margin: 40px 0;height: 120px;border-radius: 11px;}
.banner2 p{width: 90%;font-size: 30px;}
.banner2 .button{z-index: 2;}
.banner2 img{width:100%;position: absolute;margin-top: -500px;z-index: 0;left: 0;top: 0;}
.banner2::after{opacity: 0.80;left: 0;top: 0;width: 100%;height: 100%;z-index: -1;content: '';position: absolute;background-image: var(--bg-gradient2-90deg);}
.banner2 h1{font-size: 20px;width: 50%;line-height: 25px;}
/**/



.section-gallery{margin-bottom: 60px;margin-top: 60px;width: 100%;overflow: hidden;}
.section-gallery h1{margin-bottom: 30px;font-size: 30px;line-height: 35px;}
.section-gallery .gallery{height: 80vw;width: 100%;margin-top: 50px;transform: scale(140%);}
.section-gallery .gallery .col{width: 30%;gap: 2vw;}
.section-gallery .gallery .col img{width: 100%;box-shadow: 0 0 10px #00000019;border-radius: 6px;}
.section-gallery .gallery .col.center{margin-top: 50px;width: 37%;}
.section-gallery::after{box-shadow: inset 0vw -5vw 10vw 5vw var(--bg);}

.section-sales{width: 94%;margin: 80px 0;}
.section-sales h1{font-size: 30px;line-height: 43px;position: relative;}
.section-sales h1 span{position: absolute;top: -45px;font-size: 18px;}
.section-sales .uses{margin-top: 30px;gap: 20px;flex-direction: column;width: 100%;}
.section-sales .uses .box{border-radius: 15px;width: 100%;height: 250px;}
.section-sales .uses .box:hover h3{padding-bottom: 32px;}
.section-sales .uses .box h2{font-size: 22px;margin: 0px 5%;}
.section-sales .uses .box h3{line-height: 19px;font-size: 14px;width: 80%;padding-bottom: 20px;margin: 7px 5%;}

.section-sales .uses .box img{width: 100%;height: fit-content;}
.section-sales .uses .box::after{opacity: 0.8;box-shadow: inset 0vw -20vw 20vw 2vw var(--bg) ;}
.section-sales .uses .box::before{right: 5%;bottom: 5%;width: 5vw;height: 5vw;}
.section-sales .uses .box:hover::before{right: 5%;}




    /* FOOTER */
.footer{margin: 2vw 0;}
.footer .upper{padding: 60px 0;width: 80%;display: flex;flex-direction: column;justify-content: start;align-items: start;row-gap: 20px;}
.footer .upper .left{row-gap: 20px;margin-bottom: 0px;}
.footer .upper .left h1{font-size: 25px;}
.footer .upper .left img{height: 30px}
.footer .upper .left h2{font-size: 11px;}
.footer .upper .right{gap: 3vw;display: flex;flex-direction: column;justify-content: start;align-items: start;}
.footer .upper .right .group{row-gap: 20px;display: flex;flex-direction: column;justify-content: start;align-items: start;}
.footer .upper .right .group h1{margin-top: 50px;margin-bottom: 8px;font-size: 20px;}
.footer .upper .right .group a{font-size: 16px;}
.footer .lower{padding-top: 25px;flex-direction: column-reverse;justify-content: center;align-items: center;}
.footer .lower p{font-size: 11px;text-align: center;margin: 20px 0;}

/**/
}






@font-face { font-family: 'thin';
    src: url('../fonts/PPMori-Extralight.otf');
    font-weight: 100;}
    @font-face { font-family: 'regular';
        src: url('../fonts/PPMori-Regular.otf');
        font-weight: 400;}
        @font-face { font-family: 'bold';
            src: url('../fonts/PPMori-SemiBold.otf');
            font-weight: 800;}
            ::-webkit-scrollbar {width: 5px;}
  ::-webkit-scrollbar-track {
    background: var(--bg); }
  ::-webkit-scrollbar-thumb {background: var(--primary); }
  ::-webkit-scrollbar-thumb:hover { background: var(--secondary-transparent); }
  ::-moz-selection {  color: var(--primary); background: rgba(255, 255, 255, 0.132);}
  ::selection {color: var(--primary);background: rgba(255, 255, 255, 0.132);}
